<div class = "prodlist">

  <table class = "table">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Date Submitted</th>
      <th>Date Expired</th>
      <th>Status</th>
      <th>User</th>
      <th>Action</th>
    </tr>
  <% @feed_items.each do |products| %>
  <tr>
    <td><%= products.name %></td>
    <td><%= products.price %></td>
    <td><%= products.description %></td>
    <td><%= products.description %></td>
    <td><%= products.status %></td>
    <td><%= products.user.firstname %> &nbsp; <% products.user.lastname %></td>
    <td><%= link_to "Inquire", "#"%></td>
  </tr>
<% end %>
  </table>
  <%= will_paginate @feed_items %>
</div>

