<div class = "prodlist">

  <table class = "table table-striped">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Date Submitted</th>
      <th>Date Expired</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  <% @products.each do |products| %>
  <tr>
    <td><%= products.name %></td>
    <td><%= products.price %></td>
    <td><%= products.description %></td>
    <td><%= products.description %></td>
    <td><%= products.status %></td>
    <td><%= link_to "Edit", edit_product_path(products.id)%> &nbsp; &nbsp; <%= link_to "Delete", products , :method => "delete", data: { confirm: "You sure?" }%></td>
  </tr>
<% end %>
  </table>
  <%= will_paginate @products %>
</div>

