<div class = "prodlist1">
  <div class = "borderlist">
    <h3>Trading House</h3>
    <table class = "table">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Date Submitted</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    <% @products.each do |products| %>
      <tr>
      <td><%= products.name %></td>
      <td><%= products.price %></td>
      <td><%= products.created_at %></td>
      <td><%= products.status %></td>
      <td><%= link_to "See User Profile", user_path(products.user_id)%></td>
    </tr>
  <% end %>
      </table>
      <%= will_paginate @products %>
</div>
</div>
