<h2>SHOW PRODUCT</h2>
<%= @product.name %><br />
<%= @product.price %><br />
<%= @product.description %><br />
<%= @product.status %><br />
<%= link_to "Edit", edit_product_path , :method => "get", class: "btn btn-inverse"%>
<%= link_to "Delete", @product , :method => "delete",
                     data: { confirm: "You sure?" }, class: "btn btn-inverse"%>
